.contact {
  display: flex;
  background-color: $beige100;
  padding: 3rem 1.5rem;
  div {
    width: 33%;
    margin: 2rem 0;
    border-right: 1px solid $green400;
    padding: 0 2rem;
    h4 {
      color: $green500;
      text-transform: uppercase;
      line-height: 2rem;
    }
    p {
      font-size: 2rem;
      line-height: 2.6rem;
      color: $black300;
    }
    &:last-child {
      border-right: none;
    }
  }
}
