$green500: #295853;
$green400: #4b9b86;
$green300: #abdbc0;
$beige100: #f5f4ef;
$beige500: #d58f76;
$black300: #333333;
$black100: #999999;
$white: #fafafa;

$layout-breakpoint-xsmall: 540px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-medium: 1200px;
$layout-breakpoint-screen: 1400px;
